@import "../utils/mixin.scss";
@import "../utils/variables.scss";

.article-wrap{
    margin-top: $navbarHeight;
    min-height: 100vh;
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 450px);
    row-gap: 2rem;
    column-gap: 1rem;
    @media screen and (max-width: $layout-breakpoint-xs-small){         
        grid-template-columns: 50% 50%;
    }
    @media screen and (min-width: $layout-breakpoint-xs-small + 1) and (max-width: $layout-breakpoint-medium){ 
        grid-template-columns: repeat(4, 25%);
    }
    .text{
        color: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 2ch;
    }
    .article{
        cursor: pointer;
        height: fit-content;
        border-radius: 15px;
        background: #d3d3d338;
        padding: 23px;
        margin: 0 1rem;
        img{
            width: 100%;
        }
        p{
            font-size: 2ch;
            color: black;
            text-align: left;
            font-weight: bold;
        }
    }
}