@import "../utils/mixin.scss";
@import "../utils/variables.scss";

.about-us_preview{
    height: 50vh;
    width: 95%;
    @include aboutUs;
}
.categories-wrapper{
    min-height: 50vh;
    padding: 5rem 0;
}