$corporate-color: #8CC5C7;
$bg-fontSize: 2ch;
$zIndex-base:1;
$zIndex-middle:2;
$zIndex-top:3;
$text-color: #545454;
$layout-breakpoint-large: 1224px;
$layout-breakpoint-medium: 1024px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xs-small: 760px;
$navbarHeight: 10vh;
$sideNavbar-width: 14vw;